<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let firstMenu of menus">
        <li nz-submenu [nzTitle]="firstMenu.title" [nzIcon]="firstMenu.icon">
          <ul>
            <ng-container *ngFor="let secondMenu of firstMenu.children">
              <li nz-submenu [nzTitle]="secondMenu.title" *ngIf="secondMenu.children else menuItem">
                <ul>
                  <li nz-menu-item nzMatchRouter *ngFor="let thirdMenu of secondMenu.children"><a
                      [routerLink]="thirdMenu.router">{{thirdMenu.title}}</a></li>
                </ul>
              </li>
              <ng-template #menuItem>
                <li nz-menu-item nzMatchRouter>
                  <a [routerLink]="secondMenu.router">{{secondMenu.title}}</a>
                </li>
              </ng-template>


            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>